* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2e6d8;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #6e7c52;
    border-radius: 10px;
    padding: 20px;
}
h2 {
    text-align: center;
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-caption {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #314408;
}

th, td {
    padding: 15px; 
    text-align: left;
}

thead {
    background-color: #314408; 
    color: #d5d9cd;
}

tbody tr:nth-child(even) {
    background-color: #e0e0e0; 
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; 
}

tbody tr:hover {
    background-color: #d5d9cd; 
}
